snippet else "my own el snippet" !b
else
{
	${1:/*code*/}
}
$0
endsnippet

snippet elif "else if" 
else if ( ${1:/*condition*/})
{
	${2:/*code*/}
}
$0
endsnippet

snippet fori "for loop" 
for( int ${1:i} = ${2:0}; $1 ${3:< size}; ${4:++}$1)
{
	${5:/*code*/}
}
$0
endsnippet
